body {
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
}
p {
    border: solid black 1px;
    padding: 10px;
    background-color: gray;
}
input {
    margin-left: 17px;
}
textarea {
    padding-left: 9px;
    padding-bottom: 20px;
}
.form-field {
    padding-bottom: 10px;
}

